@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.correct {
  background-color: #dfffa8;
}

.incorrect {
  background-color: #fcbea4;
}

.word-input {
  border: none;
  font-family: monospace;
  font-size: 34px;
}

.word-input:focus {
  outline: none;
}
